{% load static %}
<!doctype html>
<html lang="en">
<head>
    <title>Mukinator</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap.min.css' %}">
    <!-- Bootstrap JS -->
    <script src="{% static 'bootstrap.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/password_reset_done.css' %}">
</head>
<body>
<!-- 네비게이션바 -->
    <div class="nav">
        <div class="col-sm-12">
            <nav>
                <ul class="nav_right">
                    <li><a href="{% url 'community:index' %}">게시판</a></li>
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'common:logout' %}">{{ user.nickname }}님 안녕하세요! (로그아웃)</a>
                    </li>
                    <li>
                        <a class="nav-link" href="{% url 'common:mypage' user.id %}">마이페이지</a>
                    </li>
                    {% else %}
                    <li>
                        <a class="nav-link" href="{% url 'common:login' %}">로그인</a>
                    </li>
                    {% endif %}
                    <li>
                        {% if not user.is_authenticated %}
                            <a class="nav-link" href="{% url 'common:signup' %}">회원가입</a>
                        {% endif %}
                    </li>
                </ul>
                <ul class="nav_left">
                    <li><a href="{% url 'mukinator:main' %}">Mukkinator</a></li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="popup">
        <div class="title">먹키네이터</div>
        <div class="content">
            <p>해당 이메일주소로 메일을 보냈습니다. 메일함을 확인해주세요 !</p>
        </div>
            <input type="button" name="btnclose" class="button"
                   value="홈으로" onClick="location.href='{% url 'community:index' %}'">
    </div>
</body>
</html>