<div>
    <form method="post" action="{% url 'common:login' %}">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}">
        {% include "form_errors.html" %}
        <div>
            <label for="username">사용자ID</label>
            <input type="text" name="username" id="username"
                   value="{{ form.username.value|default_if_none:'' }}">
        </div>
        <div>
            <label for="password">비밀번호</label>
            <input type="password" name="password" id="password"
                   value="{{ form.password.value|default_if_none:'' }}">
        </div>
        <button type="submit">로그인</button>
    </form>
    <br>
    <a href="{% url 'common:forget_id' %}">아이디 찾기</a>
</div>