{% load community_filter %}
<h5>로그인/회원가입</h5>
{% if user.is_authenticated %}
    <a href="{% url 'common:logout' %}">{{ user.username }}님 안녕하세요! (로그아웃)</a>
    {% else %}
    <a href="{% url 'common:login' %}">로그인</a>
    <br>
    <a href="{% url 'common:signup' %}">회원가입</a>
    {% endif %}

<h5>검색창</h5>
<div>
    <input type="text" id="search_kw" class="form-control" value="{{ kw|default_if_none:'' }}">
    <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button" id="btn_search">검색</button>
    </div>
    <form id="searchForm" method="get" action="{% url 'index' %}">
    <input type="hidden" id="kw" name="kw" value="{{ kw|default_if_none:'' }}">
    <input type="hidden" id="page" name="page" value="{{ page }}">
</form>
</div>

<h5>게시물</h5>
{% if post_list %}
    <ul>
    {% for post in post_list %}
        <li>
            {{ post_list.paginator.count|sub:post_list.start_index|sub:forloop.counter0|add:1 }} <!-- 게시글 번호 -->
            <a href="{% url 'community:detail' post.id %}">{{ post.subject }}</a> <!-- 게시글 제목 -->
            <span class="text-danger small mx-2">{{ post.comment_set.count }}</span> <!-- 댓글 개수 -->
            {{ post.author.username }}
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>게시글이 없습니다.</p>
{% endif %}
<a href="{% url 'community:post_create' %}">게시글 등록하기</a>

<h5>페이지네이션</h5>
    <div>
        <!-- 이전페이지 -->
        {% if post_list.has_previous %}
        <li>
            <a class="page-link" data-page="{{ post_list.previous_page_number }}"
           href="javascript:void(0)">이전</a>
        </li>
        {% else %}
        <li>
            <a tabindex="-1" aria-disabled="true" href="#">이전</a>
        </li>
        {% endif %}
        <!-- 페이지리스트 -->
        {% for page_number in post_list.paginator.page_range %}
        {% if page_number == post_list.number %}
        <li class="page-item active" aria-current="page">
            <a class="page-link" data-page="{{ page_number }}"
           href="javascript:void(0)">{{ page_number }}</a>
        </li>
        {% else %}
        <li class="page-item">
            <a class="page-link" data-page="{{ page_number }}"
           href="javascript:void(0)">{{ page_number }}</a>
        </li>
        {% endif %}
        {% endfor %}
        <!-- 다음페이지 -->
        {% if post_list.has_next %}
        <li class="page-item">
            <a class="page-link" data-page="{{ post_list.next_page_number }}"
           href="javascript:void(0)">다음</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
        </li>
        {% endif %}
    </div>

<br>
<!-- 검색 스크립트  -->
<script type='text/javascript'>
const page_elements = document.getElementsByClassName("page-link");
Array.from(page_elements).forEach(function(element) {
    element.addEventListener('click', function() {
        document.getElementById('page').value = this.dataset.page;
        document.getElementById('searchForm').submit();
    });
});
const btn_search = document.getElementById("btn_search");
btn_search.addEventListener('click', function() {
    document.getElementById('kw').value = document.getElementById('search_kw').value;
    document.getElementById('page').value = 1;  // 검색버튼을 클릭할 경우 1페이지부터 조회한다.
    document.getElementById('searchForm').submit();
});
</script>