@font-face {
    font-family: 'establishRetrosansOTF';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2112@1.0/establishRetrosansOTF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    min-height: 100vh;
    overflow-x: hidden;
    background-image: url('../image/galaxy.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-family: 'establishRetrosansOTF';

}

/* navbar */

.nav ul li {

    font-weight: 300;
    font-size: 30px;
    color: white;
    text-decoration: none;
}

.nav ul li a {

    font-weight: 300;
    font-size: 25px;
    color: white;
    text-decoration: none;
}

.nav {

    justify-content: flex-end;
    align-items: center;
    padding: 10px 3%;
    color: white;
}

.nav_right {
    padding: 20px;
    display: flex;
    float: right;
    list-style: none;
}

.nav_left {
    padding: 20px;
    display: flex;
    float: left;
    list-style: none;
}

.nav_right li {
    padding: 0px 10px;
    color: white;
}

.nav_right li a {
    transition: all 0.3s ease 0s;
}

/* glass effect */
.container {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.01), rgba(255, 255, 255, 0));
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 40px;
    border: 2px solid rgba(216, 204, 204, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    padding: 50px;
    margin-top: 150px;
}

/* 로그인 개체 */

.col-md-7 {
    float: right;
}

.col-sm-5 {
    padding-top: 200px;
    padding-left: 150px;
}