@import url('https://fonts.googleapis.com/css2?family=Inter&family=Montserrat:ital,wght@0,400;1,500&family=Poppins:wght@400;500&family=Raleway:ital,wght@0,400;1,500&family=Ubuntu&display=swap');


@font-face {
  font-family: 'EF_hyunygothic';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-01@1.0/EF_hyunygothic.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

/*원래 코드*/
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  overflow: hidden;
  -ms-overflow-style: none;
}

body::-webkit-scrollbar {
  display: none;
}

#container-1 {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-image: url(../image/genie.png), url(../image/background.jpg);
  background-size: 40% 100%, cover;
  background-position: 70% -10px, center;
  background-repeat: no-repeat;
  font-family: 'EF_hyunygothic';
}

a {
  font-weight: 300;
  font-size: 25px;
  color: white;
  text-decoration: none;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.logo {
  margin: 30px;
}

.logo-link {
  color: #fff;
  font-size: x-large;
  text-decoration: none;
}

.logo-link:active {
  color: rgb(194, 193, 193);
}

.logo-img {
  width: 52%;
  height: 52%;
  margin-top: -12px;
  margin-left: 32px;
}

ul {
  list-style: none;
  margin-right: 30px;
}

li {
  display: inline;
  margin-left: 10px;
  font-weight: 300;
  font-size: 30px;
  color: white;
  text-decoration: none;
}

li>a {
  color: #fff;
  font-weight: 300;
  font-size: 25px;
  color: white;
  text-decoration: none;
}

li>a:active {
  color: rgb(194, 193, 193);
  ;
}

.home-container {
  display: flex;
  /* width: 100vw; */
  height: 100%;
}

.left-container {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.right-container {
  display: flex;
  flex: 1;
}

.left-top-container {
  margin-top: 50px;
  display: inline-grid;
  flex: 1;
  color: #fff;
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
  text-align: center;
  font-size: xx-large;
  font-family: 'Jua', sans-serif;
}

.left-bottom-container {
  display: grid;
  flex: 1;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-family: 'Jua', sans-serif;
  text-align: center;
  justify-items: center;
  align-content: space-around;
}

.btn {
  display: block;
  position: relative;
  width: 85px;
  line-height: 35px;
  font-size: 1em;
  text-align: center;
  background-color: #0a052d;
  color: #fff;
  border: solid 1px;
  border-radius: 10px;
  margin-right: 15px;
  margin-left: 15px;
}

.start,
.result {
  bottom: 60px;
}

#container-2 {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-image: url(../image/desert.png), linear-gradient(#2D3343, #324C63, #706E61, #E58A41);
  background-size: 100% 100%, cover;
  background-position: center;
  background-repeat: no-repeat;
}

.question-container {
  display: flex;
  flex: 2;
  justify-content: center;
  align-items: center;
}

.answer-container {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

span {
  text-align: center;
  font-size: xx-large;
  font-family: 'Jua', sans-serif;
}

form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.answer-1 {
  justify-content: center;
  align-items: center;
  color: #fff;
  font-family: 'Jua', sans-serif;
  text-shadow: -1px 0px black, 0px 1px black, 1px 0px black, 0px -1px black;
  font-size: larger;
  position: relative;
  width: auto;
  line-height: 35px;
  font-size: 1em;
  text-align: center;
  background-color: #0a052d;
  color: #fff;
  border: solid 1px;
  border-radius: 10px;
}

.question-1 {
  justify-content: center;
  align-items: center;
  color: #fff;
  font-family: 'Jua', sans-serif;
  font-size: xx-large;
  text-align: center;
  text-shadow: -1px 0px black, 0px 1px black, 1px 0px black, 0px -1px black;
}


#container-3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url(../image/oasis.png), linear-gradient(#E58A41, #E7CD9A, #B3DECA, #78D3D4);
  background-size: 100% 100%, cover;
  background-position: center;
  background-repeat: no-repeat;
}

.text1 {
  padding-bottom: 50px;
  text-shadow: -1px 0px white, 0px 1px white, 1px 0px white, 0px -1px white;
}

.text2 {
  padding-bottom: 100px;
  text-shadow: -1px 0px white, 0px 1px white, 1px 0px white, 0px -1px white;
}

.text3 {
  padding-right: 30px;
  padding-bottom: 400px;
  text-shadow: -1px 0px white, 0px 1px white, 1px 0px white, 0px -1px white;
  margin-top: 400px;
}

.text4 {
  margin-right: 400px;
  text-shadow: -1px 0px white, 0px 1px white, 1px 0px white, 0px -1px white;
}

.text5 {
  margin-right: 400px;
  text-shadow: -1px 0px white, 0px 1px white, 1px 0px white, 0px -1px white;
}

.text6 {
  text-shadow: -1px 0px black, 0px 1px black, 1px 0px black, 0px -1px black;
  margin-top: 200px;
}

#container-4 {
  display: flex;
  height: 100vh;
  background: url(../image/thief.png), linear-gradient(#78D3D4, #6194A9, #3C7995, #266584, #003F48, #242A44) no-repeat center;
  background-size: cover;
}

#container-5 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url(../image/door.png), linear-gradient(#242A44, #3D415E, #6D6888, #9A6555);
  background-size: 40% 100%, cover;
  background-position: center;
  background-repeat: no-repeat;
}

#container-6 {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-image: url(../image/genie.png), url(../image/background.jpg);
  background-size: 40% 100%, cover;
  background-position: 70% -10px, center;
  background-repeat: no-repeat;
}

.result {
  text-shadow: -2px 0px #0a052d, 0px 2px #0a052d, 2px 0px #0a052d, 0px -2px #0a052d;

}

.recommend {
  display: flex;
  text-shadow: -2px 0px #0a052d, 0px 2px #0a052d, 2px 0px #0a052d, 0px -2px #0a052d;
}