@font-face {
    font-family: 'establishRetrosansOTF';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2112@1.0/establishRetrosansOTF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    min-height: 100vh;
    overflow-x: hidden;
    background-image: url('../image/galaxy.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-family: 'establishRetrosansOTF';

}

.img-fluid {
    width: 120%;
    height: 120%;
    padding: 10px 90px 100px
}

.row .col-sm-4 {
    padding-left: 40px;
    margin-bottom: 0;
}

.row-g-3 {
    margin: ;
}




/* navbar */

.nav ul li {

    font-weight: 300;
    font-size: 30px;
    color: white;
    text-decoration: none;
}

.nav ul li a {

    font-weight: 300;
    font-size: 25px;
    color: white;
    text-decoration: none;
}

.nav {

    justify-content: flex-end;
    align-items: center;
    padding: 10px 3%;
    color: white;
}

.nav_right {
    padding: 20px;
    display: flex;
    float: right;
    list-style: none;
}

.nav_left {
    padding: 20px;
    display: flex;
    float: left;
    list-style: none;
}

.nav_right li {
    padding: 0px 10px;
    color: white;
}

.nav_right li a {
    transition: all 0.3s ease 0s;
}

a {

    font-weight: 300;
    font-size: 25px;
    color: white;
    text-decoration: none;
}

/* glass effect */
.container {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.01), rgba(255, 255, 255, 0));
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 40px;
    border: 1px solid rgba(216, 204, 204, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    padding-top: 100px;
    padding-left: 100px;
    margin-top: 50px;
    margin-bottom: 100px;

}

.highlight {
    color: rgb(212, 63, 122);
}

.btn.btn-primary {
    font-size: 14px;
    padding-top: 10px;
    background: rgb(254, 254, 254);
    color: black;
    border: none;
}

.mypost,
.home_link {
    text-decoration: none;
    padding: 5px;
    color: rgb(212, 63, 122);
}

h2 {
    margin-top: 20px;
    margin-left: 20px;
}