@font-face {
    font-family: 'EF_hyunygothic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-01@1.0/EF_hyunygothic.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

#id_email {
    color: black;
}

#email_text {
    color: black;
}

* {
    font-family: 'EF_hyunygothic';
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
}

body {
    min-height: 100vh;
    background-image: url('../image/galaxy.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    overflow:inherit
}

.cardheader {
    text-align: center;
    
}



/* board */

.recent {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.01), rgba(255, 255, 255, 0));
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 40px;
    border: 1px solid rgba(248, 244, 244, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    margin-top: 110px;
    
}

.board {
    padding: 10%;
    margin: 0 0;
    width: 100%;
    height: 60%;
}




.board .recent {
    position: relative;
    display: grid;
    min-height: 100;
    padding: 20px;
    box-shadow: 0px 7px 25px rgba(0,0,0,08);
    border-radius: 10px;
}

button {
    font-weight: 300;
    font-size: 14px;
    color: white;
    text-decoration: none;
    padding: 3px 3px;
    float: left;
    background-color: black;
    color: white;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
button .write {
    font-size: 13px;
}

button:hover {
    background-color: rgb(255, 255, 255);
    color: black;
}


.cardheader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cardheader h2 {
    font-weight: 600;
    color: var(--blue);
}

.write {
    position: relative;
    float: right;
    padding: 5px 10px;
    background: var(--blue);
    text-decoration: none;
    color: var(--white);
    border-radius: 6px;
}



.head {
    font-weight: 600;
}

.email_text {
    color: black;
    width: 40%;
    margin-top: 10px;
    padding-bottom: 6px;
}


/* navbar */

    .nav ul li {

        font-weight: 300;
        font-size: 30px;
        color: white;
        text-decoration: none;
    }

    .nav ul li a {

        font-weight: 300;
        font-size: 25px;
        color: white;
        text-decoration: none;
    }

    .nav {

        justify-content: flex-end;
        align-items: center;
        padding: 10px 3%;
        color: white;
    }

    .nav_right {
        padding: 20px;
        display: flex;
        float: right;
        list-style: none;
    }

    .nav_left {
        padding: 20px;
        display: flex;
        float: left;
        list-style: none;
    }

    .nav_right li {
        padding: 0px 10px;
        color: white;
    }

    .nav_right li a {
        transition: all 0.3s ease 0s;
    }