@font-face {
    font-family: 'establishRetrosansOTF';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2112@1.0/establishRetrosansOTF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
html, body{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: 'establishRetrosansOTF';
}
body{
    background-image: url('../image/galaxy.jpg'); /* 배경 이미지 */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
body.dimmed::before{
    content: '';
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(1px);    
}
.popup {
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    min-width: 450px;
    max-width: 600px;
    color: white;
    background-color: rgb(37, 37, 37);
    border-radius: 15px;
    box-shadow: 0 2px 55px -25px rgb(255, 255, 255);
}
.popup > .title{
    border-radius: 15px 15px 0 0;
    min-height: 40px;
    color: rgb(2, 2, 2);
    background-color: rgb(250, 250, 250);
    padding: 15px 15px 10px 15px;
    box-sizing: border-box;
    font-weight: bold;
}
.popup > .content {
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}
.popup > .cmd {
    bottom: 0;
    min-height: 40px;
    padding: 15px 15px;
    box-sizing: border-box;
    border-radius: 0 0 15px 15px;
    min-height: 40px;
    text-align: right;
}
.popup > .cmd .button {
    border-radius: 8px;
    padding: 8px 10px 5px 10px;
    border: 0px solid #aaa;
}
.popup > .cmd .button:hover {
    color: rgb(250, 247, 247);
    background-color: rgb(232, 33, 136);
    border-color: #000;
}

.button {
    font-family: 'establishRetrosansOTF';
}
/* navbar */

    .nav ul li {

        font-weight: 300;
        font-size: 30px;
        color: white;
        text-decoration: none;
    }

    .nav ul li a {

        font-weight: 300;
        font-size: 25px;
        color: white;
        text-decoration: none;
    }

    .nav {

        justify-content: flex-end;
        align-items: center;
        padding: 10px 3%;
        color: white;
    }

    .nav_right {
        padding: 20px;
        display: flex;
        float: right;
        list-style: none;
    }

    .nav_left {
        padding: 20px;
        display: flex;
        float: left;
        list-style: none;
    }

    .nav_right li {
        padding: 0px 10px;
        color: white;
    }

    .nav_right li a {
        transition: all 0.3s ease 0s;
    }