<h1> Mukinator </h1>

{% if sort_foods %}
    <form method="POST" action="{%url 'mukinator:sort_food' %}">
        {% csrf_token %}
            {% if integer == "1" %}
                <p>고기입니까?</p>
                <button type="submit" value=True name="meat">네</button>
                <button type="submit" value=False name="meat">아니요</button>
                <button type="submit" value=True name="seafood">해산물입니다.</button>
            {% endif %}
            {% if integer == "2" %}
                <p>맵습니까?</p>
                <button type="submit" value=True name="hot">네</button>
                <button type="submit" value=False name="hot">아니요</button>
            {% endif %}
            {% if integer == "3" %}
                <p>한식입니까, 중식입니까, 일식입니까?</p>
                <button type="submit" value="한식" name="country">한식</button>
                <button type="submit" value="중식" name="country">중식</button>
                <button type="submit" value="일식" name="country">일식</button>
                <button type="submit" value="기타" name="country">기타</button>
            {% endif %}
            {% if integer == "4" %}
                <p>무슨 고기 입니까?</p>
                <button type="submit" value="돼지" name="meat_type">돼지</button>
                <button type="submit" value="소" name="meat_type">소</button>
                <button type="submit" value="닭" name="meat_type">닭</button>
            {% endif %}
            {% if integer == "5" %}
                <p>어떤 형태입니까?</p>
                {% for food in sort_foods.sort_foods %}
                        {% if food.meal_type == "밥" %}
                            <button type="submit" value="밥" name="meal_type">밥</button>
                        {% endif %}    
                        {% if food.meal_type == "면" %}    
                            <button type="submit" value="면" name="meal_type">면</button>
                        {% endif %}
                        {% if food.meal_type == "기타" %}
                            <button type="submit" value="기타" name="meal_type">기타</button>
                        {% endif %}
                {% endfor %}    
            {% endif %}
            {% if integer == "6" %}
                <p>어떤 종류의 해산물입니까?</p>
                {% for food in sort_foods.sort_foods %}
                    {% if food.seafood_type == "생선" %}
                        <button type="submit" value="생선" name="seafood_type">생선</button>
                    {% endif %}
                    {% if food.seafood_type == "갑각" %}
                        <button type="submit" value="갑각" name="seafood_type">갑각</button>
                    {% endif %}
                {% endfor %}  
            {% endif %}
    </form>

    <form method="GET" action="{%url 'mukinator:reset' %}">
        <button type="submit" value=True name="reset">다시하기</button>
    </form>

{% else%}
    <form method="POST" action="{%url 'mukinator:start' %}">
        {% csrf_token %}
        <button type="submit" value=True name="start">시작</button>
    </form>
{% endif %}
    
{%if foods %}
{% for food_origin in foods %}
    <h4>{{food_origin.food_name}}</h4>
    고기{{food_origin.meat}}
    해산물{{food_origin.seafood}}
    매움{{food_origin.hot}}
    {{food_origin.country}}
{% endfor %}
{% endif %}

{%if check %}
    {% if sort_foods.sort_foods %}
        {% for food in sort_foods.sort_foods %}
            <h2>{{food}}</h2>
        {% endfor %}
        <form method="GET" action="{%url 'mukinator:go_board' %}">
            <button type="submit" value=True name="go_board">맛집 추천 받기</button>
        </form>
        {% if user.is_authenticated %}
            {% if person.pk == user.pk %}
                <br>
                <h3>최근에 추천한 음식</h3>
                
                {%for name in results%}
                    {{name.food_name}}
                    <br>
                {% endfor %}
            {% endif %}
        {% endif %}
        {% else %}
        <h4>결과가  없습니다. 상단의 리셋 버튼을 눌러주세요.</h4>
    {% endif %}
{% endif %}