<h1>고기 고르기</h1>
<p>고기입니까?</p>

<form method="POST" action="{%url 'sort_food' %}">
    {% csrf_token %}
    <button type="submit" value=True name="meat">네</button>
    <button type="submit" value=False name="meat">아니요</button>
    <button type="submit" value=True name="seafood">해산물입니다.</button>
</form>

<form method="GET" action="{%url 'reset' %}">
    <button type="submit" value=True name="reset">다시하기</button>
</form>
<hr>

{% if sort_foods%}
    {% for food in sort_foods %}
    <h4>{{food.food_name}}</h4>
    고기{{food.meat}}
    해산물{{food.seafood}}
    매움{{food.hot}}
    {{food.country}}
    {% endfor %}
{% else %}
    <h4>결과가  없습니다. 상단의 리셋 버튼을 눌러주세요.</h4>
{% endif %}
