<h1>맵기 고르기</h1>
<p>처음 :  아으... 머리야.. 
    지니녀석.. 갑자기 사라지던데 ..
    햇볕이 갑자기 따가워 진 것을 당신은 느낍니다. 
    
    주위를 둘러보니 당신은 사막의 한복판임을 알았습니다. 
    저 멀리 보이는 오아시스에서  맛잇는 냄새가 나는것을 느꼈습니다. 
    이 냄새는 어떤 냄새일까요 ? 
</p>    
<p>맵습니까?</p>

<form method="POST" action="{%url 'mukinator:sort_food' %}">
    {% csrf_token %}
    <button type="submit" value=True name="hot">네</button>
    <button type="submit" value=False name="hot">아니요</button>
</form>

<form method="GET" action="{%url 'mukinator:reset' %}">
    <button type="submit" value=True name="reset">다시하기</button>
</form>
<hr>

{% if sort_foods%}
    {% for food in sort_foods %}
    <h4>{{food.food_name}}</h4>
    고기{{food.meat}}
    해산물{{food.seafood}}
    매움{{food.hot}}
    {{food.country}}
    {% endfor %}
{% else %}
    <h4>결과가  없습니다. 상단의 리셋 버튼을 눌러주세요.</h4>
{% endif %}