<h1>테스트 1 화면</h1>

<form method="GET" action="{%url 'sort_food' %}">
    <button type="submit" value=True name="value">고기</button>
    <button type="submit" value=False name="value">안고기</button>
    <button type="submit" value=True name="sea">해산물</button>
    <button type="submit" value=True name="hot">매운것</button>
    <button type="submit" value=False name="hot">안매운것</button>
    <button type="submit" value="한식" name="country">한식</button>
    <button type="submit" value="중식" name="country">중식</button>
    <button type="submit" value="일식" name="country">일식</button>
    <button type="submit" value="기타" name="country">기타</button>
    
</form>
<hr>

{% for food in foods%}

<h4>{{food.food_name}}</h4>
고기{{food.meat}}
해산물{{food.sea}}
매움{{food.hot}}
나라{{food.country}}

{% endfor %}
