<h1>해산물 정하기</h1>
<p>어떤 종류의 해산물입니까</p>

<form method="POST" action="{%url 'sort_food' %}">
    {% csrf_token %}
    <button type="submit" value="생선" name="seafood_type">생선</button>
    <button type="submit" value="어패" name="seafood_type">어패</button>
    <button type="submit" value="종합" name="seafood_type">종합</button>
    <button type="submit" value="기타" name="seafood_type">기타</button>
</form>

<form method="GET" action="{%url 'reset' %}">
    <button type="submit" value=True name="reset">다시하기</button>
</form>
<hr>

{% if sort_foods%}
    {% for food in sort_foods %}
    <h4>{{food.food_name}}</h4>
    고기{{food.meat}}
    해산물{{food.seafood}}
    매움{{food.hot}}
    {{food.country}}
    {% endfor %}
{% else %}
    <h4>결과가  없습니다. 상단의 리셋 버튼을 눌러주세요.</h4>
{% endif %}