<h1>나라 고르기</h1>
<p>
</p>    
<p>한식입니까 중식입니까 일식입니까</p>

<form method="POST" action="{%url 'mukinator:sort_food' %}">
    {% csrf_token %}
    <button type="submit" value="한식" name="country">한식</button>
    <button type="submit" value="중식" name="country">중식</button>
    <button type="submit" value="일식" name="country">일식</button>
    <button type="submit" value="기타" name="country">기타</button>
</form>

<form method="GET" action="{%url 'mukinator:reset' %}">
    <button type="submit" value=True name="reset">다시하기</button>
</form>
<hr>
{% if sort_foods%}
    {% for food in sort_foods %}
    <h4>{{food.food_name}}</h4>
    고기{{food.meat}}
    해산물{{food.seafood}}
    매움{{food.hot}}
    {{food.country}}
    {% endfor %}
{% else %}
    <h4>결과가  없습니다. 상단의 리셋 버튼을 눌러주세요.</h4>
{% endif %}
